.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  position: relative;

  background-color: #1e202c !important;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
}

.floating-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  background: #2a2a2a;
  padding: 10px;
  border-radius: 50%;
  color: white;
  z-index: 1000;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.content-area {
  flex: 1;
  padding: 20px;
  background-color: #1e202c !important;
  color: white;
  overflow-y: auto;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.content-header h2 {
  margin: 0;
}

.dashboard-menu {
  list-style: none;
  padding: 0;
}

.dashboard-menu li {
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.dashboard-menu li:hover {
  background-color: #e0e0e0;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
.btn-secondary {
  background-color: #062c51 !important;
  border: none !important;
  font-size: 10px !important;
}
.btn-secondary:hover {
  background-color: #031b33 !important;
  border: none !important;
  box-shadow: 0px 1px 10px 0px rgba(3, 27, 51, 1);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(3, 27, 51, 1);
  -moz-box-shadow: 0px 1px 10px 0px rgba(3, 27, 51, 1);
}



.edit-icon{
  background-color: none !important;
  padding: 2px;
  color: #ff9f44;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  transition-delay: 0.09s; /* 400ms delay before hover effect kicks in */
}
.nav-menu-icon {
  background-color: #062c51;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid #242629 1px;
  transition: all 0.5s ease;
  transition-delay: 0.09s; /* 400ms delay before hover effect kicks in */
}
.nav-menu-icon:hover {
  background-color: #3173b6;
  transform: scale(1.1);
}

.action-icon {
  background-color: #062c51;
  padding: 8px;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid #242629 1px;
  transition: all 0.5s ease;
  transition-delay: 0.09s; /* 400ms delay before hover effect kicks in */
}

.action-icon:hover {
  background-color: #3173b6;
  transform: scale(1.1);
}

/* Fixed height for product management section */
.product-management-container {
  display: flex;
  height: 800px; /* Adjust this height as needed */
}

.product-columns {
  max-height: 800px;
  overflow-y: auto;
  overflow-x: auto;
}

/* Make sure the Product Table doesn't affect the layout */
.product-table-container {
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
}

.product-columns::-webkit-scrollbar,
.product-table-container::-webkit-scrollbar {
  width: 6px;
}

.product-columns::-webkit-scrollbar-thumb,
.product-table-container::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 10px;
}

.btn-success {
  background-color: #062c51 !important;
  border: none !important;
  font-size: 13px !important;
  padding: 8px 12px !important;
}
