.form-control {
  background-color: #191722;
  border-color: rgba(255, 255, 255, 0.1);
  font-size: 0.75rem;
  color: white;
}
.form-control::placeholder {
  color: grey;
  font-size: 0.75rem;
}

.form-control:focus {
  background-color: #191722;
  border-color: rgba(255, 255, 255, 0.1);
  font-size: 0.75rem;
  color: white;
  box-shadow: 0px 1px 9px 1px rgba(38, 38, 38, 0.75);
  -webkit-box-shadow: 0px 1px 9px 1px rgba(38, 38, 38, 0.75);
  -moz-box-shadow: 0px 1px 9px 1px rgba(38, 38, 38, 0.75);
}

.form-control:not(:placeholder-shown) {
  color: white;
  background-color: #14131b;
}

.attribute-field {
  display: flex;
  margin-bottom: 15px;
}

.attribute-value {
  font-size: 8px !important;
  background-color: #b38b6765;
  border-radius: 10px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
gap: 5px;
margin-right: 5px;
}